<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>


    <title>Parking Management</title>

</head>
<body>
<!-- page content -->
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <br>All Vehicle Records <br><small>Here are records of Vehicles which are on parking  </small></br></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Vehicle Number">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">


            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Stripped table <small>Stripped table subtitle</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Car Number</th>
                                <th>Parking Area</th>
                                <th>Line Number</th>
                                <th>Slot Number</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>Mark As Timeout</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="value:${list}">
                                <td th:text="${value.carId}" />
                                <td th:text="${value.carNmber}" />
                                <td th:text="${value.parkingArea}" />
                                <td th:text="${value.lineNmber}" />
                                <td th:text="${value.slotNmber}" />
                                <td th:text="${value.timeIn}" />
                                <td th:text="${value.timeOut}" />
                                <td>

                                <a th:href="@{'mark-as-timeout?carId=' + ${value.carId}}"  class="btn btn-info btn-sm">Timeour</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


                </div>
            </div>
        </div>


<!-- /page content -->


<!-- footer content -->

<!-- /footer content -->

</body>
</html>

